@use "../../styles/reset" as *;
@use "../../styles/variables" as *;

.searchbox {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;

    &__label {
        text-transform: uppercase;
        font-family: $font-tertiary;
        margin:0.5rem;
    }

    &__input {
        width: 9rem;
        height: 1.8rem;
        margin: 0.5rem;
        padding:0.5rem;
        border: 0.2rem solid $color-black;
        font-size: 0.8rem;
        font-family: $font-tertiary;
    }
}