@use "../../styles/reset" as *;
@use "../../styles/variables" as *;

.track {
    margin: 1rem;
    padding:1rem;
    border:0.5rem solid $color-black;
    background-color: $color-white;
    width: 18rem;
    height: 17rem;
    line-height: 1rem;
    text-align: center;
    vertical-align: middle;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    &__title {
        text-transform: uppercase;
        font-family: $font-tertiary;
        font-size: 2rem;
        line-height:2rem;
        margin-top:1rem;
        overflow:scroll;
    }

    &__info {
        font-family: $font-info;
    }
}