@import url('https://fonts.googleapis.com/css2?family=Anton&family=Shadows+Into+Light&family=Staatliches&family=Exo:wght@400&display=swap');

//colors
$color-white: white;
$color-black: black;
$color-primary: #ffd60a;
$color-secondary: green;
$color-tertiary: #e85d04;


//text
$font-primary: 'Shadows Into Light';
$font-secondary: 'Anton';
$font-tertiary: 'Staatliches';
$font-info: 'Exo';

