@import url('https://fonts.googleapis.com/css2?family=Anton&family=Shadows+Into+Light&family=Staatliches&family=Exo:wght@400&display=swap');

// //colors
// color-primary
// color-secondary


// //text
$font-primary: 'Shadows Into Light';
$font-secondary: 'Anton';
$font-buttons: 'Staatliches';
$font-info: 'Exo';


// font-primary
// font-secondary