@use "../../styles/reset" as *;
@use "../../styles/variables" as *;

.home {

    display: flex;
    flex-direction: row;
    align-items: center;
    min-width: 100vw;
    width: fit-content;
    min-height: 100vh;
    height: fit-content;
    gap:5rem;
    background-image: radial-gradient($color-black 20%, $color-white 20%);
    background-position: 0 0;
    background-size: 3rem 3rem;

    &__heading {
        width: 50%;
        margin-top:1rem;
        font-size: 6rem;
        font-family: $font-primary;
        text-align: center;
        color: $color-black;
        background-color: $color-primary;
        line-height: 6rem;
    }

    &__buttons {
        margin-top: 3rem;
        padding:8rem;
        width:max-content;
        height: max-content;
        display: grid;
        gap:1rem;
        justify-items: center;
        align-items: center;
        border-radius: 50% 50%;
        background:$color-black;
    }
}

@media screen and (max-width: 600px) {

    .home {
        flex-direction: column;

        &__heading {
            width:60%;
            font-size: 3rem;
            line-height: 4rem;
        }

        &__buttons {
            margin-top: 1rem;
            padding: 6rem;
        }
    }

  }